* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.color{
    color: #FF5400;
}